
/* Universal setting */

* {
    margin: 0;
    padding: 0;
}

html {
    --main-background: #111C26; 
    --blue: #19aae3;
    --tan: #e19b0e;
    --brick: #df3627;
    --pink: rgb(246, 89, 222);
    --text-color: #c7dcf1ea;
}


body {
    display: flex;
    justify-content: start ;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--main-background);
    
}

/* Header */ 

h1 {
    
    position: absolute;
    top: -1em;
    font-family: 'Righteous', cursive; 
    font-weight: 200;
    font-size: 3em;
    margin: 3em;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    color: var(--text-color);
    text-shadow: 0 0 25px #9ad2e890,
                0 0 5px #9de0faf1;
    text-transform: uppercase;
}

/* Clock face */

.clock {
    
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: solid 5px var(--main-background);
    box-shadow: 4px solid var(--main-bg-color);
	box-shadow: 0 -15px 15px rgba(83, 239, 250, 0.05),
		        inset 0 -15px 15px rgba(255, 224, 101, 0.05), 
                0 15px 15px rgba(0, 0, 0, 0.3),
		        inset 0 15px 15px rgba(7, 7, 7, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
    top: 15em;
}

/* Clock hands  */

#seconds-hand {
    position: absolute;
    height:  180px;
    width: 2px;
    background-color: var(--tan);
    right: 200px;
    bottom: 160px;
    transform-origin: 50% 140px;
    box-shadow: 0px 0px 5px var(--tan),
                0px 0px 15px var(--tan),
                0px 0px 25px var(--tan),
                0px 0px 35px var(--tan),
                0 0 0 1px var(--tan),
                0 0 40px var(--tan);
    border-radius: 10px;
    z-index: 99;
}

#minutes-hand {
    position: absolute;
    height: 130px;
    width: 4px;
    background-color: var(--blue);
    right: 200px;
    bottom: 200px;
    transform-origin: 50% 100%;
    box-shadow: 0px 0px 15px var(--blue),
                 0 0 25px var(--blue),
                 0 0 35px var(--blue),
                 0 0 5px var(--blue),
                 0 0 0 1px var(--blue);
    border-radius: 10px;
    z-index: 98;
}

#hours-hand {
    position: absolute;
    height: 110px;
    width: 4px;
    background-color: var(--brick);
    left: 200px;
    bottom: 200px;
    right: 200px;
    transform-origin: 50% 100%;
    box-shadow: 0px 0px 15px var(--brick),
                0 0 25px var(--brick),
                0 0 35px var(--brick),
                0 0 5px var(--brick),
                0 0 0 0.5px var(--brick);
    border-radius: 10px;
}

/* Clock center */

 .clock::before {
    content: '';
    height: 15px;
    width: 15px;
    background-color: var(--brick);
    border: 2px solid var(--tan);
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    box-shadow: 0px 0px 35px var(--tan), 
                0px 0px 15px var(--tan),
                0px 0px 25px var(--tan),
                0px 0px 35px var(--tan),
                0 0 0 1px var(--tan),
                inset 0 0 15px var(--tan),
                inset 0 0 5px var(--tan),
                 0 0 0 1px;
    border-radius: 10px;
}




/* Discarded changes - neon clock outline 


0 0 40px rgb(247, 123, 233),
                0 0  45px var(--pink), 
                0 0  30px var(--pink), 
                0 0  15px var(--pink), 
                0 0 5px var(--pink),
                0 0 0 5px  rgb(242, 150, 210),
                inset 0 0  35px rgb(247, 123, 233),
                inset 0 0  25px var(--pink),
                inset 0 0  15px var(--pink);


*/

/* Clock hours */


#twelve {
    z-index: 101;
    position: absolute;
    top: 5px;
    color: var(--text-color);
    text-shadow: 0 0 25px #9ad2e890,
                 0 0 5px #9de0faf1;
    font-family: 'Righteous', cursive; 
    font-size: 2em;
}

#three {
    z-index: 102;
    position: absolute;
    right: 5px;
    color: var(--text-color);
    text-shadow: 0 0 25px #9ad2e890,
                 0 0 5px #9de0faf1;
    font-family: 'Righteous', cursive; 
    font-size: 2em;
}

#six {
    z-index: 102;
    position: absolute;
    bottom: 5px;
    color: var(--text-color);
    text-shadow: 0 0 25px #9ad2e890,
                 0 0 5px #9de0faf1; 
    font-family: 'Righteous', cursive;
    font-size: 2em;
}

#nine {
    z-index: 102;
    position: absolute;
    left: 5px;
    color: var(--text-color);
    text-shadow: 0 0 25px #9ad2e890,
                 0 0 5px #9de0faf1;
    font-family: 'Righteous', cursive;
    font-size: 2em;
}

/* Light/Dark mode switch */

button {
    position: absolute;
    top: 33em;
    color: var(--text-color);
    text-shadow: 0 0 25px #9ad2e890,
                 0 0 5px #9de0faf1;
    background-color: var(--main-background);
    border: solid 3px var(--main-background);
    box-shadow: 0 -5px 5px rgba(83, 239, 250, 0.087),
		        inset 0 -5px 5px rgba(108, 200, 250, 0.089), 
                0 5px 5px rgba(0, 0, 0, 0.3),
		        inset 0 5px 5px rgba(7, 7, 7, 0.3);
    font-family: 'Righteous', cursive; 
    font-weight: 200;
    font-size: 1.5em;
    border-radius: 5%;
    text-align: center;
    text-transform: uppercase;
    height: 60px;
    width: 200px;
    transition: 100ms;
}

button:hover {
   text-shadow: 0 0 5px #c9e1ea,
                0 0 10px #9ad2e890,
                0 0 15px #b1def090,
                0 0 25px #ddf4fd, 
                0 0 35px #ddf4fd;
    cursor: pointer;
}